<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221993615283-830oe65b1evhgnqnael2l2mo9k86gopa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221993615283-830oe65b1evhgnqnael2l2mo9k86gopa</string>
	<key>API_KEY</key>
	<string>AIzaSyBjnhF_uvFKZNZYpeW3kIxzj-xUEx5JMKM</string>
	<key>GCM_SENDER_ID</key>
	<string>221993615283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geraetepruefungFfLiekwegen</string>
	<key>PROJECT_ID</key>
	<string>geraetepruefung-ff-liekwegen</string>
	<key>STORAGE_BUCKET</key>
	<string>geraetepruefung-ff-liekwegen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221993615283:ios:ff9d304c62314f8e7c55c6</string>
	<key>DATABASE_URL</key>
	<string>https://geraetepruefung-ff-liekwegen-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>